# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
ENV/

# PyInstaller
dist/
build/
*.spec

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# PyQt5
*.qmlc
*.jsc

# Application specific
icon.png
icon.icns

*.sh
